@page "/"

<PageTitle>Inicio</PageTitle>

<div class="container position-relative" style="height: 100vh;">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1>¡Bienvenido y muchas gracias por tomarte el tiempo de ver mi tarea! 👋✨</h1>
        <p>Recuerda: "Cada línea de código que escribes es un paso más cerca de convertirte en un gran programador.
            ¡Nunca dejes de aprender!" 💻🚀</p>
    </div>
</div>
