@page "/embed"
@rendermode InteractiveServer

<PageTitle>embed</PageTitle>

<div class="container">

    <ElementoEmbed Title="Blazor Tutorial - Beginner to Advanced"
        Texto="Este curso cubre desde los fundamentos de Blazor hasta temas más avanzados. Lo que más me gustó es que es un recurso muy completo que incluye tanto Blazor Server como WebAssembly, ayudando a tener una visión clara de las distintas aplicaciones de Blazor."
        Url="PLzewa6pjbr3IQEUfNiK2SROQC1NuKl6PV" />
    <br>
    <br>
    <br>
    <ElementoEmbed Title="Blazor Full Course for Beginners"
        Texto="Este video ofrece un curso completo para principiantes, cubriendo desde la instalación hasta la creación de aplicaciones web modernas con Blazor. Lo que me gustó de este curso es su enfoque práctico: puedes seguir cada paso para construir tu propia aplicación desde cero."
        Url="RBVIclt4sOo" />
    <br>
    <br>
    <br>
    <ElementoEmbed Title="Intro to Blazor in .NET 8 - SSR, Stream Rendering, Auto, and more"
        Texto="En este video, se exploran las nuevas características de Blazor en .NET 8, como el renderizado en streaming y la capacidad SSR. Es interesante ver cómo Blazor ha evolucionado y cómo estas nuevas funcionalidades pueden mejorar el rendimiento y la experiencia del usuario."
        Url="walv3nLTJ5g" />
    <br>
    <br>
    <br>
    <ElementoEmbed Title="Blazor Course - Use ASP.NET Core to Build Full-Stack C# Web Apps"
        Texto="Este curso te enseña a utilizar Blazor para construir aplicaciones web full-stack utilizando C# y ASP.NET Core. Lo que más me gustó es que te muestra cómo integrar todo el stack tecnológico, lo cual es muy útil para aquellos que buscan desarrollar proyectos completos."
        Url="4G_BzLxa9Nw" />
    <br>
    <br>
    <br>
    <ElementoEmbed Title="Introducing Blazor: Carl Franklin's Blazor Train Ep 1"
        Texto="Carl Franklin ofrece una serie de videos sobre Blazor donde profundiza en diferentes temas del framework. Este episodio introductorio proporciona una excelente descripción general de lo que es Blazor y cómo se ha desarrollado a lo largo del tiempo."
        Url="1FYhpL-JFY0" />
</div>
